<div class="flex items-center justify-center h-screen bg-gray-100" style="margin-left: 37%; margin-top: 10%;">
  <div class="card p-3" style="width: 400px;">
    <% if @user.errors.any? %>
      <div class="alert alert-danger">
        <ul class="mb-0">
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group">
      <%= form_with model: @user, html: { multipart: true }, data: { turbo: false } do |form| %>

        <%= form.label :email, class: 'mb-1' %>
        <%= form.text_field :email, class: 'form-control mb-2' %>

        <%= form.label :password, 'Password', class: 'mb-1' %>
        <%= form.password_field :password, class: 'form-control mb-2' %>

        <%= form.label :password_confirmation, class: 'mb-1' %>
        <%= form.password_field :password_confirmation, class: 'form-control mb-2' %>

        <div style="margin-top: 20px"><%= form.submit 'Sign Up', class: "btn btn-success btn-block mb-3"%></div>

        <span class="mt-2">
                Do you already have an account?
                <a href="/session/new"
                   class="underline text-blue-600 hover:text-blue-800 visited:text-purple-600">
                    Log In
                </a>
        </span>
      <% end %>
    </div>
  </div>
</div>